{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Todo</title>
</head>
<body>
  <h1>Todo or Not Todo</h1>
   <table class="striped">
      <thead>
        <tr><th>Todo</th><th>Delete</th></tr>
      </thead>
      <tbody>
        {% for todo in todos %}
          <tr>
            <td>{{todo.details}}</td>
            <td><a href="{%url 'delete_todo' todo.id %}" class='btn-delete'>X</a><td>   
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr/>
    <div>
    <a class='btn' href="{% url 'add_todo'  %}">Add a Todo</a>
        
    </div>
</body>

</html>